/*
Theme: WordPress Theme
Theme URI: https://wordpresstheme.com
Author: Patryk Roszkowski
Author URI: https://ww.linkedin.com/in/patryk-roszkowski-9a15a0268
Description: Theme test
Version: 1.0.0
Text Domain: WordPress Theme
License: GNU v3 or Later
 */